<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrdersMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO orders (number,
                            status,
                            user_id,
                            address_book_id,
                            order_time,
                            checkout_time,
                            pay_method,
                            pay_status,
                            amount,
                            remark,
                            phone,
                            address,
                            user_name,
                            consignee,
                            estimated_delivery_time,
                            delivery_status,
                            pack_amount,
                            tableware_number,
                            tableware_status)
        VALUES (#{number},
                #{status},
                #{userId},
                #{addressBookId},
                #{orderTime},
                #{checkoutTime},
                #{payMethod},
                #{payStatus},
                #{amount},
                #{remark},
                #{phone},
                #{address},
                #{userName},
                #{consignee},
                #{estimatedDeliveryTime},
                #{deliveryStatus},
                #{packAmount},
                #{tablewareNumber},
                #{tablewareStatus})
    </insert>


    <update id="update">
        update orders
        <set>
            <if test="cancelReason != null and cancelReason!='' ">
                cancel_reason=#{cancelReason},
            </if>
            <if test="rejectionReason != null and rejectionReason!='' ">
                rejection_reason=#{rejectionReason},
            </if>
            <if test="cancelTime != null">
                cancel_time=#{cancelTime},
            </if>
            <if test="payStatus != null">
                pay_status=#{payStatus},
            </if>
            <if test="payMethod != null">
                pay_method=#{payMethod},
            </if>
            <if test="checkoutTime != null">
                checkout_time=#{checkoutTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="deliveryTime != null">
                delivery_time = #{deliveryTime}
            </if>
        </set>
        where id = #{id}
    </update>


    <select id="historicalOrderPaginationQuery" resultType="com.sky.vo.OrderHistoryVO">
        SELECT
        id,
        number,
        status,
        user_id,
        address_book_id,
        order_time,
        checkout_time,
        pay_method,
        pay_status,
        amount,
        remark,
        phone,
        address,
        user_name,
        consignee,
        cancel_reason,
        rejection_reason,
        cancel_time,
        estimated_delivery_time,
        delivery_status,
        delivery_time,
        pack_amount,
        tableware_number,
        tableware_status
        FROM orders
        WHERE user_id = #{userID}
        <!-- 状态筛选：若传入status不为null，则添加状态条件 -->
        <if test="status != null">
            AND status = #{status}
        </if>
        <!-- 按下单时间倒序（最新订单在前） -->
        ORDER BY order_time DESC
        <!-- 分页：page为当前页，pageSize为每页条数 -->
        LIMIT #{page}, #{pageSize}
    </select>


    <select id="countHistoricalOrder" resultType="java.lang.Long">
        select count(id)
        from orders
        where user_id = #{userID}
        <if test="orderHistoryDTO.status != null">
            and status = #{orderHistoryDTO.status}
        </if>
    </select>


    <select id="selectByOrderID" resultType="com.sky.vo.OrderHistoryVO">
        select *
        from orders
        where id = #{orderID}
    </select>


</mapper>